@charset "utf-8";
@import url("reset.css");
@import url("../font/Pretendard/pretendard.css");
@import url("../font/Excon/excon.css");

@font-face {
  font-family: "Montserrat-Bold";
  font-weight: 700;
  src: url("../font/Monsterrat/Montserrat-Bold.woff2");
}

:root {
  --font-lineheight: 1.4;
  --color-black: #222;
}
html {
  font-size: 10px;
}

body {
  max-width: 192rem;
  min-width: 128rem;
  font-family: "Pretendard";
}

.header {
  width: 100%;
  height: 8rem;
  position: fixed;
  z-index: 9999;
}
.header .inner {
  width: 160rem;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .inner .logo {
}

.header .inner .logo a {
  display: block;
  font-family: "Excon-Thin";
  font-size: 2.6rem;
  font-weight: 700;
  line-height: calc(2.6rem * var(--font-lineheight));
}

.header .inner .nav {
}
.header .inner .nav .gnb {
  display: flex;
  gap: 5rem;
}
.header .inner .nav .gnb li {
}
.header .inner .nav .gnb li a {
  display: block;
  font-family: "Pretendard";
  font-size: 2rem;
  font-weight: 400;
  line-height: calc(2rem * var(--font-lineheight));
}

main {
}

.trigger-01 {
  width: 100%;
  height: 400vh;
}

.section-title {
  width: 100%;
  /* height: 100%; */
  height: 400vh;
  background-color: #fff;
  color: var(--color-black);
}

.section-title .title {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  font-family: "Montserrat-Bold";

  /* font-weight: 900; */
}
.section-title .title p {
}
.section-title .title strong {
  font-size: 25rem;
}

.transition-overlay-title {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-black);
  opacity: 0;
  z-index: 2;
}

.section-slogan {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #030303;
  opacity: 0;
  z-index: 3;
}

.section-slogan .image-grid {
  pointer-events: none;
  position: absolute;
  width: 110%;
  height: 110%;
  top: -5%;
  left: -5%;
  display: grid;
  grid-template-columns: repeat(50, 2%);
  grid-template-rows: repeat(50, 2%);
}

.section-slogan .image-grid .title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  color: #000;
}

.section-slogan .image-grid h2 {
  font-weight: 700;
  font-size: 4rem;
  line-height: calc(3.2rem * 2);
  color: #fff;
  text-align: center;
}

.section-slogan .image-grid__item {
  opacity: 1;
  position: relative;
}

.section-slogan .image-grid__item img {
  will-change: transform;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* height: 100%; */
  -o-object-fit: cover;
  object-fit: cover;
  opacity: 0;
}

.pos-1 {
  grid-area: 32/27/35/14;
}

.pos-2 {
  grid-area: 8 / 24 / 5 / 38;
}

.pos-3 {
  grid-area: 14 / 39 / 18 / 45;
}

.pos-4 {
  grid-area: 9/23/11/6;
}

.pos-5 {
  grid-area: 20/35/35/45;
}

.pos-6 {
  grid-area: 37 / 31 / 39 / 42;
}

.pos-7 {
  grid-area: 24/4/52/12;
}

.pos-8 {
  grid-area: 38/14/51/19;
}

.transition-overlay-slogan {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  z-index: 3;
}

.section-introduce {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  opacity: 0;
  z-index: 3;
}
.section-introduce .inner {
  width: 160rem;
  height: 100%;
  margin: 0 auto;
  opacity: 0;
  transform: translateY(50px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-introduce .inner .list {
  display: flex;
  justify-content: center;
  gap: 15.5rem;
}

.section-introduce .inner .left {
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: space-between;
}
.section-introduce .inner .left .imagebox {
  width: 100%;
}
.section-introduce .inner .left .imagebox img {
  width: 100%;
  object-fit: cover;
}
.section-introduce .inner .left .about {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.section-introduce .inner .left .about .textbox {
  display: flex;
}

.section-introduce .inner .left .about .textbox strong {
  width: 20%;
}

.section-introduce .inner .right {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.section-introduce .inner .left strong,
.section-introduce .inner .right strong {
  font-family: "Pretendard";
  font-size: 1.6rem;
  font-weight: 700;
  line-height: calc(2rem * var(--font-lineheight));
  color: var(--color-black);
}
.section-introduce .inner .left p,
.section-introduce .inner .right p {
  font-family: "Pretendard";
  font-size: 1.6rem;
  font-weight: 400;
  line-height: calc(2rem * var(--font-lineheight));
  color: var(--color-black);
}

.section-introduce .inner .right .education .textbox,
.section-introduce .inner .right .career .textbox,
.section-introduce .inner .right .awards .textbox {
  width: 100%;
  display: flex;
  gap: 2rem;
}

.section-introduce .inner .right .skill {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 4rem;
}

.section-introduce .inner .right .skill {
  width: 100%;
  object-fit: cover;
}

.section-project {
  position: relative;
  z-index: 99;
  background-color: #fff;
  padding: 200px 0;
}
.section-project .inner {
  width: 160rem;
  margin: 0 auto;
}
.section-project .inner .content {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 15rem;
  margin-bottom: 30rem;
}
.section-project .inner .content .imagebox {
  width: 57.18%;
}
.section-project .inner .content .imagebox img {
  width: 100%;
  object-fit: cover;
}

.section-project .inner .content .textbox {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.section-project .inner .content .textbox .title {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.section-project .inner .content .textbox .title strong {
  font-family: "Pretendard";
  font-size: 5rem;
  font-weight: 700;
  line-height: calc(3.2rem * var(--font-lineheight));
}
.section-project .inner .content .textbox .title p {
  font-family: "Pretendard";
  font-size: 2rem;
  font-weight: 400;
  line-height: calc(1.6rem * var(--font-lineheight));
}

.section-project .inner .content .textbox .list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.section-project .inner .content .textbox .list .item {
  display: flex;
  gap: 1rem;
  font-family: "Pretendard";
  font-size: 2rem;
  line-height: calc(2rem * var(--font-lineheight));
}
.section-project .inner .content .textbox .list .item span {
  font-family: "Pretendard";
  font-size: 2rem;
  font-weight: 500;
  width: 8rem;
}
.section-project .inner .content .textbox .list .item p {
  font-family: "Pretendard";
  font-size: 2rem;
  font-weight: 700;
}
.section-project .inner .content .textbox .hashtag {
  display: flex;
  gap: 2rem;
}
.section-project .inner .content .textbox .hashtag p {
  font-family: "Pretendard";
  font-size: 1.6rem;
  font-weight: 400;
  line-height: calc(1.6rem * var(--font-lineheight));
}

.section-project .inner .content .textbox .buttonbox {
  display: flex;
  gap: 2rem;
}
.section-project .inner .content .textbox .buttonbox .btn {
  width: 12rem;
  padding: 1.2rem 1.8rem;
  display: block;
  font-size: 18px;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  border: 1px solid #4b4b4b;
  transition: all 0.3s ease;
}
.section-project .inner .content .textbox .buttonbox .btn:hover {
  transform: translateY(-5px);
}
.section-project .inner .content .textbox .buttonbox .btn.btn-website {
  display: flex;
  gap: 0.4rem;
  justify-content: center;
  align-items: center;
}
.section-project .inner .content .textbox .buttonbox .btn.btn-website img {
  width: 2rem;
  object-fit: cover;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%)
    contrast(103%);
}
.section-project .inner .content .textbox .buttonbox .btn.active {
  background-color: var(--color-black);
  color: #fff;
}

.section-other {
  position: relative;
  overflow: hidden;
  padding: 5.75rem 0 12rem;
  perspective: 2000px;
  z-index: 99;
}

.text-drop {
  position: relative;
  overflow: hidden;
  padding: 5.75rem 0 12rem;
  perspective: 2000px;
  z-index: 99;
  background-color: var(--color-black);
}

.text-drop::after {
  content: "";
  position: absolute;
  top: 40%;
  left: 5%;
  z-index: -1;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: radial-gradient(
    circle,
    rgba(6, 255, 255, 1) 33%,
    rgba(3, 239, 255, 1) 54%,
    rgba(0, 219, 255, 1) 75%,
    rgba(0, 203, 244, 1) 83%,
    rgba(0, 162, 215, 1) 98%,
    rgba(0, 158, 212, 1) 100%
  );
  filter: blur(160px);
}

.text-drop::before {
  content: "";
  position: absolute;
  top: 20%;
  right: 15%;
  z-index: -1;
  width: 175px;
  height: 175px;
  border-radius: 50%;
  background: radial-gradient(
    circle,
    rgba(6, 255, 255, 1) 33%,
    rgba(3, 239, 255, 1) 54%,
    rgba(0, 219, 255, 1) 75%,
    rgba(0, 203, 244, 1) 83%,
    rgba(0, 162, 215, 1) 98%,
    rgba(0, 158, 212, 1) 100%
  );
  filter: blur(100px);
}

.text-drop__line {
  display: block;
  text-align: center;
  width: 100%;
  font-size: 9.75vw;
  line-height: 1.3;
  font-weight: 500;
  white-space: nowrap;
  color: white;
  transform-origin: 50% 0;
  will-change: transform;
  backface-visibility: hidden;
  transform: rotateX(-120deg);
  mix-blend-mode: difference;
  transform-style: preserve-3d;
}

.text-drop__img-box {
  position: absolute;
  overflow: hidden;
  opacity: 0.1;
  border-radius: 0.5rem;
  transition: opacity 0.5s;
}

.text-drop__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.text-drop__img-box:nth-child(1) {
  top: 12%;
  left: 4%;
  max-width: 26.5vw;
}

.text-drop__img-box:nth-child(2) {
  top: 29%;
  right: 40%;
  max-width: 26.5vw;
}

.text-drop__img-box:nth-child(3) {
  top: 68%;
  right: 9.5%;
  max-width: 29vw;
}

.text-drop__img-box:nth-child(4) {
  top: 72%;
  left: 12%;
  z-index: 100;
  max-width: 26.5vw;
}

.section-contact {
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 99;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sction-contact .scrolltext {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.sction-contact .scrolltext .row {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
}
.sction-contact .scrolltext .row .text {
  display: inline-flex;
  white-space: nowrap;
}

.sction-contact .scrolltext .row .text h2 {
  font-family: "Poppins", sans-serif;
  font-size: 10rem;
  weight: 900;
  margin: 0;
  padding: 0 10px;
  text-transform: uppercase;
}
.section-contact .contact-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.section-contact .top {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.section-contact .top .qrcode {
  width: 12rem;
  height: 12rem;
}
.section-contact .top .qrcode img {
  width: 100%;
  object-fit: cover;
}

.section-contact .top .textbox {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.section-contact .top .textbox strong {
  font-size: 3.2rem;
  font-weight: 700;
}
.section-contact .top .textbox p {
  font-size: 4rem;
  font-weight: 400;
}

.section-contact .btns {
  /* margin-top: 10rem; */
  display: flex;
  gap: 2rem;
}

.social-icons {
  display: flex;
}
.social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 80px;
  height: 80px;
  margin: 0 0.5rem;
  border-radius: 50%;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.15s ease;
}
.social-icon:hover {
  color: #fff;
}
.social-icon:hover .tooltip {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, -150%);
}
.social-icon:active {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5) inset;
}
.social-icon--linkedin {
  background: #006599;
  color: #fff;
}
.social-icon--linkedin .tooltip {
  background: #006599;
  color: currentColor;
}
.social-icon--linkedin .tooltip:after {
  border-top-color: #006599;
}
.social-icon--phone {
  background: #2b97f1;
  color: #fff;
}
.social-icon--phone .tooltip {
  background: #2b97f1;
  color: currentColor;
}
.social-icon--phone .tooltip:after {
  border-top-color: #2b97f1;
}
.social-icon--github .fa-github,
.social-icon--phone .fa-phone,
.social-icon--email .fa-email {
  width: 4.8rem;
}
.social-icon--git .fa-git img,
.social-icon--phone .fa-phone img,
.social-icon--email .fa-email img {
  width: 100%;
  object-fit: cover;
}
.social-icon--github {
  background: #000;
  color: #fff;
}
.social-icon--github .tooltip {
  background: #000;
  color: currentColor;
}
.social-icon--github .tooltip:after {
  border-top-color: #000;
}

.social-icon--email {
  background: #ef5a92;
  color: #fff;
}
.social-icon--email .tooltip {
  background: #ef5a92;
  color: currentColor;
}
.social-icon--email .tooltip:after {
  border-top-color: #ef5a92;
}

.social-icon i {
  position: relative;
  top: 1px;
}
.tooltip {
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  padding: 1.8rem 2rem;
  border-radius: 40px;
  font-size: 1.6rem;
  font-weight: bold;
  opacity: 0;
  pointer-events: none;
  text-transform: uppercase;
  transform: translate(-50%, -100%);
  transition: all 0.3s ease;
  z-index: 1;
}
.tooltip:after {
  display: block;
  position: absolute;
  bottom: 1px;
  left: 50%;
  width: 0;
  height: 0;
  content: "";
  border: solid;
  border-width: 10px 10px 0 10px;
  border-color: rgba(0, 0, 0, 0);
  transform: translate(-50%, 100%);
}
